@model Model.CustomerModel


<div class="forget-pass-cont" style="width:40rem; height:20rem; background-color:aliceblue; border-radius:5px;">
   <div style="padding:2rem">
    <div>
    <h3>Forget Password</h3>
    </div>
    <div>
        @if (ViewBag.Emailnotexists != null)
            {
                <div style="color:red">@ViewBag.Emailnotexists</div>
            }
        <form>
        <label for="Email">Email :-</label><br/>
        
        <input type="text" id="Email" placeholder="Enter Your E-mail"/>
        <button id="sendOTP">Send OTP</button>
        </form>
     </div>


        </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>

    $('#sendOTP').click(function (event) {
        event.preventDefault();
        var element = document.getElementById("popup-form");
        element.classList.remove("hidden");
        var Email = document.getElementById("Email").value;
       
        $.ajax({
            url: '@Url.Action("ForgetPassword", "Account")',
            type: 'GET',
            data: { Email: Email},
            success: function (result) {
                $('#popup-form').html(result);
            }
        })

    })
</script>