@model string

<div class="forget-pass-cont" style="width:40rem; height:20rem; background-color:aliceblue; border-radius:5px;">
    <div style="padding:2rem">
        <div>
            <h3>Forget Password</h3>
        </div>
        <div>
            <form>
                <label for="Newpass"> New Password :-</label><br />

                <input type="password" id="password" placeholder="Enter Your Password" /><br /><br />

                <label for="ReNewpass"> Re-Enter Password :-</label><br />

                <input type="password" id="re-password" placeholder="Re-Enter Password" /><br />
                <button id="updatePass">Update Password</button>
            </form>
        </div>


    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>

    $('#updatePass').click(function () {
       
        var element = document.getElementById("popup-form");
        element.classList.remove("hidden");
        var newpassword = document.getElementById("password").value;
        var confirmpassword = document.getElementById("re-password").value;


        if(newpassword==confirmpassword){
        $.ajax({
            url: '@Url.Action("UpdatePassword", "Account")',
            type: 'POST',
            data: { Email: '@Model', NewPassword: newpassword },
            success: function (result) {
                $('#popup-form').html(result);
            }
        })
        }else{

            alert("Your Password are not Matching");
            event.preventDefault();
            document.getElementById("password").value = "";
            document.getElementById("re-password").value = "";

        }
       

    });
</script>
