@model List<Model.CustomerModel>


@if (Model.Count > 0)
{
    <div class="prop-item-cont" style="gap:1rem">
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("Components/_UserItem",item)
        }
    </div>
}
else
{
       <div style="display:flex;justify-content:center;align-items:center;height:100vh;width:100%;flex-direction:column;"> 
            <img src="/assets/nothing.png"/>
            <h1>No Users to Show Here</h1>
        </div>
}
