
@model List<string>



    <span class="material-symbols-outlined cross" style="position:absolute;top:5%;right:5%;font-weight:900; color:white;font-size:2rem;z-index:99" onclick="Close()">
        close
    </span>


    <div style="background-color: whitesmoke;width:60rem;height:40rem;justify-content:center; display:flex; border-radius:8px; ">

    
        <ul>
    @foreach(var comment in Model)
    {
            <li style="background-color:aquamarine;color:black;border-radius:8px; margin:3px;padding:5px;">@comment</li>
    }
    </ul>
    </div>

    <script>
    function Close() {
        var element = document.getElementById("popup-form");
        element.classList.add("hidden");
    }
</script>