@model List<Model.CustomerModel>
@{
    ViewData["Title"] = "BlockedUsers";
    Layout = "~/Views/Shared/Dashboard/_AdminDashboardLayout.cshtml";
}

@*<h1>Blocked Users</h1>*@
@await Html.PartialAsync("Components/_UserList", Model)