
.background {
    overflow: hidden;
    position: relative;
    height: 70vh;
}

.background-cont {
    position: relative
}

.bg-video {
    height: 100%;
    width: 177.77777778vh;
    min-width: 100%;
    min-height: 56.25vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.heading {
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 4rem;
    color: white;
}


.content {
    background-color: white;
    padding-block:20rem 0.5rem;
}

.search {
    width: 80%;
    height: 132px;
    background-color: white;
    position: absolute;
    top: 64%;
    left: 10%;
    box-shadow: 28px 31px 40px -3px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    z-index: 9999;
}

.search-form {
    display: flex;
    width: 90%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.search-param-sep {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 2rem;
}

.search-param-cont {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    flex: 8;
    gap: 2rem;
}

.search-param {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
}

.search-heading {
    font-weight: 700;
    font-size: 1.2rem;
    color: #346D6D;
}

.input-home {
    padding: 0.5rem;
    border: none;
    padding-left: 0;
    font-size:1rem;
}

.seperation {
    height: 100%;
}

.about-section {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    gap: 4rem;
}

.search-button-cont {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 2
}

.search-button {
    height: 70px;
    width: 70px;
    background-color: #346D6D;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 10px;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.about-image-wrapper {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: flex-end;
    position: relative;
    width: 80%
}

.image-card {
    width: fit-content;
    height: fit-content;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 1rem;
    top: 3%;
    right: 0;
    box-shadow: 4px 11px 40px 16px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.about-img-big {
    width: 100%;
    height: auto;
}

.about-img-small {
    position: absolute;
    top: 60%;
    right: 50%;
    width: 60%;
    height: auto;
    z-index: 20;
}

.pattern {
    position: absolute;
    top: -3%;
    left: -6.5%;
    width: 30%;
    height: auto;
}

.about-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.feature-row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 4fr;
    gap: 1.5rem;
}

.feature-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 3em;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.section-indicator {
    color: rgba(52, 109, 109, 1);
}

.section-heading {
    font-size: clamp(1.75rem, 2.3vw, 2.5rem);
    margin-bottom: 0;
}

.section-content {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    line-height: 1.5em;
}


.feature {
    font-size: clamp(0.75rem, 1.4vw,1.4rem);
    font-weight: 300;
}

.register-img {
    width: clamp(2rem, 3vw, 2.5rem);
}

.verified-img {
    width: clamp(2.5rem, 4vw, 2.5rem);
}

.coverage-img {
    width: clamp(3rem, 4.5vw, 2.5rem);
}

.image-grid-sec {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-block: 10rem 5rem;
    gap:4rem;
}

.image-grid {
    width: 70%;
    display: grid;
    grid-template-areas:
        "apartment apartment office shop"
        "single studio villa villa";
    gap: 1rem;
}

.overlay {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.35);
    color: white;
    font-weight: 700;
}

.over-trans {
    display: flex;
    position: relative;
    transition: cubic-bezier(.02,.94,.44,1.01);
}

    .over-trans:hover {
        transform: scale(102%);
        font-size: 1.25rem;
    }


.apartment-img {
    grid-area: apartment;
}



.office-img {
    grid-area: office;
    display: flex;
   
}

.shop-img {
    grid-area: shop;
    display: flex;
}

.single-img {
    grid-area: single;
    display: flex;
    
}

.studio-img {
    grid-area: studio;
    display: flex;
   
}

.villa-img {
    grid-area: villa;
    display: flex;
  
}

@media only screen and (min-width: 1600px) {
    .about-section {
        width: 1350px;
    }

    .section-heading {
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    .section-content {
        font-size: 1.5rem;
        line-height: 1.5em;
    }

    .feature {
        font-size: 1.4rem;
        font-weight: 300;
    }

    .register-img {
        width: 60%;
    }

    .verified-img {
        width: 70%;
    }

    .coverage-img {
        width: 90%;
    }
}
